html, body
{
	height: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

ul
{
	padding: 5px 30px 5px 30px;
}


#header
{
	text-align: left;
}

#main
{	
	width: 790px;
	margin: 0 auto;
	text-align: left;
	padding: 25px;
}



#top
{

	margin: 0;
	padding: 0;

}



#top h1
{

	margin: 0;
	padding: 0;
}



#accessibility
{

	position: absolute;

	width: 780px;

	top: 7px;

	left: 50%;

	margin: 0 0 0 -390px;

	padding: 0 1ex;

}


#content
{
	padding-right: 2em;

	margin: 30px 0 0 0;

	padding: 1em 0 0 0;

}



.post
{

	margin-bottom: 4em;

}


#NOTEStextControl label,
#NOTEStextControl input,
#NOTEStextControl em 
{
	display: block;
}

/* these are the styles for the user comments / NOTES pages
   these are now constructed using dl/dt/dd */

.NOTES-list 
{
	margin: 1em 0;
	padding: 0 0.3em 0.3em;
}
.NOTE-header 
{
	margin: 0;
	padding: 0.3em 0 0.2em 0;
}
.NOTE-body 
{
	margin: 0;
	padding: 0.4em;
}
.NOTE-body p:first-child 
{
	margin-top: 0;
}
.NOTE-body p 
{
	margin-bottom: 0;
}

.NOTES label 
{
	display: block;
	margin-top: 1em;
}

#NOTESsubmit 
{
	display:block;
	margin-top: 1em;
}

.NOTE-body div 
{
	margin-top: 3em;
}

.NOTE-body div:first-child 
{
	margin-top: 0;
}


#footer
{
	width: 790px;
	margin: 0 auto;
	padding: 1ex 1em 1ex 1em;
	clear: both;
}
