#phplangeditor-button {
  list-style-image    : url("chrome://phplangeditor/skin/icons/logo24.png");
}

toolbar[iconsize="small"] #phplangeditor-button {
  list-style-image    : url("chrome://phplangeditor/skin/icons/logo.png");
}

#phplangeditorOpen{
  list-style-image    : url("chrome://phplangeditor/skin/icons/logo.png");
}